body {
  font-family: 'Asap';
  font-weight: 100;
}

@media (max-width: 991px) {
  .intro .display-4 {
    font-size: 32px;
  }
}

.navbar {
  box-shadow: 0 5px 5px rgba(0,0,0,.2);
}

.jumbotron {
  background: #FFF;
  margin-top: 30px;
}

.login-page input:focus {
  background: #EEE;
  box-shadow: none !important;
}

